Source: vanosilla
Section: unknown
Priority: optional
Maintainer: Wallcroft <wallcroft.uk.sas@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/vanosilla.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/vanosilla.git

Package: vanosilla
Architecture: any
Depends: postgresql, mongodb-org, redis-server, mosquitto, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
